.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

code {
    white-space: pre-wrap;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    text-align: center;

    height: 150px;
    width: 100%;
    max-width: 400px;

    margin: 0 auto;
}

b {
    width: 100%;
}

.ripple-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;

    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;

    user-select: none;

    height: 75px;
    border-radius: 8px;
}

.many-button-ripple {
    color: #1ede5e;
}

.no-button-ripple {
    color: #ce1a1a;
}

.some-button-ripple {
    color: #ffd000;
}

ion-col {
    text-align: center;
}

.range {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-right: 10px;
}
